## Cartelle e file in esse ##

# Di sistema
.vs

# Sito sotto dominio "clinicalweb-twin.marionegri.it/" (momentaneamente lo salvo in altra cartella in drive)
Sito_allenamento


## File ##

# Readme
# README.md


## Altro ##

# Momentanee
generic
*.tmp

# Di prova
#prova.html

# File di sincronizzazione (Free File Sync)
sync.ffs_db

# File di backup (Win Merge)
*.bk 
