## Cartelle e file in esse ##

# Di sistema
.vs
.github

# Sito sotto dominio "clinicalweb-twin.marionegri.it/" (omentaneamente lo salvo in altra cartella in drive)
Sito_allenamento


## File ##

# Readme
# README.md


## Altro ##

# Cartella momentanea
generic

# Di prova
#prova.html

# File di sincronizzazione (Free File Sync)
sync.ffs_db

# File di backup (Win Merge)
*.bk 
