/*

    Stile generale per il contenitore del codice
    - container per contenere sezione del codice

*/

:has(>code) {
    background-color: black;
    border-radius: 10px;
    color: white;
    min-width: 75%;
    padding: 10px;
}


/*

    Stile generale per i vari linguaggi
    - comment
    - initialize
    - variable
    - str
    - function
    - class

*/

.comment {
    color: lightgreen;
}

.init {
    color: blue;
}

.var {
    color: lightblue;
}

.str {
    color: #b20000;
}

.func {
    color: lightgoldenrodyellow;
}

.class {
    color: green;
}


/*

    Codice JavaScript
    - comment
    - initialize
    - variable
    - function
    - class

*/

.js-comment {
    color: lightgreen;
}

.js-init {
    color: blue;
}

.js-var {
    color: lightblue;
}

.js-func {
    color: lightgoldenrodyellow;
}

.js-class {
    color: green;
}


/*

    Codice PHP
    - variable

*/

.php-var {
    color: palevioletred;
}


/*

    Codice Python
    - comment
    - to initialize

*/

.py-comment {
    color: #b20000;
    /* color: #75151e; */
}

.py-init {
    color: palevioletred;
}