/*

    Stile generale per il contenitore del codice
    - container per contenere sezione del codice

*/

:has(>code) {
    background-color: black;
    border-radius: 10px;
    color: white;
    min-width: 75%;
    padding: 10px;
}


/*

    Codice JavaScript
    - comment
    - initialize
    - variable
    - function

*/

.js-comment {
    color: lightgreen;
}

.js-init {
    color: blue;
}

.js-var {
    color: lightblue;
}

.js-func {
    color: lightgoldenrodyellow;
}