/*
    MEDIA QUERY PER OGNI DISPOSITIVO
    - Cellulari: 320-480px
    - Tablet/iPad: 481-768px
    - Schermi piccoli/laptop: 769-1024px
    - Computer: 1025-1200px
*/


/* CELLULARE */
@media screen and (min-width: 320px) and (max-width: 480px) {
    
    /* GENERALE */

    .details-container {
        flex-direction: column;
    }

    #nav-bar button {
        max-height: auto;
        max-width: auto;
        font-size: 1em;
    }

    body {
        font-size: 0.9em;
    }

    footer {
        align-items: center;
    }

    footer ul.sezioni {
        font-size: 1em;
        padding: 0 10px 0 10px;
    }

    header .title {
        font-size: 1.5em;
    }

    table td {
        font-size: 0.8em;
    }

    section, section img, section ul {
        flex-direction: column;
        /* justify-content: space-between; */
        padding-inline-start: 0;
    }


    /* GENERALE - IMMAGINI */

    footer li.link img {
        height: auto;
        max-width: 2em;
        min-width: 1em;
        /* padding: 0 30px 0 30px; */
    }
}


/* TABLET/IPAD */
@media screen and (min-width: 481px) and (max-width: 768px) {
    
    /* GENERALE */
    /* header, footer {
        max-height: 25vh;
    } */
}


/* SCHERMI PICCOLI/LAPTOP */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    
    /* GENERALE */
}


/* COMPUTER */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
    
    /* GENERALE */
}


/* PER NON RIPETERE LE STESSE COSE PER TROPPE MEDIA QUERY */


@media screen and (max-width: 319px) {

    /*
        GENERALE
    */
    .details-container {
        flex-direction: column;
    }

    #nav-bar {
        max-width: 30%;
    }
    #nav-bar button {
        margin: 5px 0px;
        width: 100%;
    }
    #nav-bar nav:has(button) {
        flex-direction: column;
        min-width: 25%;
    }

    /* footer {
        flex-direction: row;
    }
    footer section {
        flex-direction: column;
    } */

    header {
        display: flex;
        flex-direction: row !important;
        justify-content: space-between !important;
    }
    header br {
        display: none;
    }
    header h1 {
        max-width: 30%;
    }
}


@media screen and (max-width: 768px) {

    /*
        SEZIONE HOME
    */
    /* Riadatto la lista su una colonna */
    #page-description .no-points-list {
        flex-direction: column;
        justify-content: space-evenly;
    }
}


@media screen and (max-width: 900px) {

    /*
        SEZIONE HOME
    */
    
    /* 
        SEZIONE ABOUT
    */
    main#descrizione {
        flex-direction: column;
        min-height: max-content;
    }
    /* Gestione della colonna aside */
    main#descrizione aside#contatti {
        min-height: max-content;
        min-width: 100%;
    }
    /* Gestione delle descrizioni */
    main#descrizione div#parte-descrittiva {
        align-content: center;
        min-height: max-content;
        min-width: 100%;
    }
    /* Tolgo lo spessore del divisorio */
    main#descrizione hr {
        display: none;
    }
}