.movement_into_pages {
    color: blue;
    text-align: right;
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    footer, section, section img, section ul {
        flex-direction: column;
        padding-inline-start: 0;
    }
}

/* Consiglio di Chat GPT-4 */
@media (max-width: 768px) {
    header ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main div {
        padding: 10px;
    }

    footer ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


h1.title {
    color: darkblue;
    font-family: verdana, geneva, sans serif;
    font-size: 16px;
    text-align:center;
}

body {
    line-height: 1.5;
    margin: 20px;
}

/* Display flex */
footer, footer ul, header ul, header nav {
    display: flex;
}

footer {
    background-color: rgb(0, 255, 255);
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
}

footer section {
    padding-inline-start: 0;
    text-align: center;
    /*width: 25%;*/
}

footer ul {
    flex-direction: column;
    padding: 0;
}

footer, header, main {
    padding: 10px;
}

footer ul, header ul, header nav {
    align-items: center;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
}

footer ul li {
    padding: 10px;
}

header ul {
    padding: 0;
}

header nav {
    justify-content: space-between;
}

header ul li {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

ul.contatti {
    display: inline;
    line-height: 7.5;
}

ul.contatti li {
    display: inline;
}