.movement_into_pages {
    color: blue;
    text-align: right;
    text-decoration: none;
}

h1.title {
    color: #ccc;
    font-family: verdana, geneva, sans serif;
    font-size: 16px;
    text-align:center;
}

ul.contatti {
    display: inline;
}

ul.contatti li {
    display: inline;
}