/*
    PARTE COMUNE A PIU' PAGINE
*/

/**/


/*
    PAGINA DELLA CHANGES_TABLE
*/
.tAggiunte {
    width: 30%;
}

.tData {
    text-align: center;
    width: 10%;
}

.tDescrizione {
    width: 60%;
}

table.change {
    background-color: #ccc;
    border: 1px solid #000;
    width: 100%;
}

table.contatti {
    width: 12.5%;
    text-align: center;
}

/*td.change*/ table.change td {
    background-color: #eee;
    border-color: #fff;
}

td.icona {
    width: 20%;
}

td.link {
    width: 30%;
}

/*th.change*/ table.change th {
    background-color: #ddd;
    border: 1px solid #fff;
    color: red;
}

/*tr.change*/ table.change tr {
    background-color: #ddd;
}