.tAggiunte, .tData {
    width: 25%;
}

.tDescrizione {
    width: 50%;
}

table {
    background-color: #ccc;
    border: 1px solid #000;
    width: 100%;
}

table.contatti {
    width: 50%;
    align-self: center;
}

td {
    background-color: #eee;
    border-color: #fff;
}

td.icone {
    width: 20%;
}

td.link {
    width: 30%;
}

th {
    background-color: #ddd;
    border: 1px solid #fff;
    color: red;
}

tr {
    background-color: #ddd;
}